body {
    padding-top: 70px;
}
div.Pageer {
    font-size: 14px;
}
div.row{
    width: 360px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
#UserInfo {
    margin-bottom: 20px;
}
#UserInfo .left {
    float: left;
    width: 60px;
    text-align: center;
}
#UserInfo .left img {
    margin-top: 2px;
}
#UserInfo .right {
    margin-left: 70px;
}
#DynaInfo ul {
    padding-left: 0px;
}
#DynaInfo ul li {
    overflow: auto;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inherit;
}
#DynaInfo ul li.user .img {
    float: left;
    width: 60px;
    cursor: pointer;
}
#DynaInfo ul li.user img {
    margin: auto;
}
#DynaInfo ul li div.body {
    margin-left: 66px;
}
#TweetPub button{
    margin-bottom: 30px;
}